<!-- templates/registration/login.html -->
{% extends 'base_auth.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="p-5">
                <div class="text-center">
                    <h4 class="text-dark mb-4">Welcome Back!</h4>
                </div>
                <form class="user" method="post">
                     {% csrf_token %}
                     {{ form.as_p }}
                    <button class="btn btn-primary btn-block text-white border rounded-0 btn-user" type="submit">Login
                    </button>
                </form>
                <div class="text-center"><a class="small" href="{% url 'register' %}">Create an Account!</a></div>
            </div>
        </div>
    </div>
{% endblock %}