{% extends 'base.html' %}

{% block title %}
    Postgrad Dashboard
{% endblock %}

{% block content %}
    <h1>Postgrad Dashboard</h1>
    <h2>{{ fname }} {{ lname }} ({{ user.postgrad_profile.student_number }})</h2>
    <h3>Applications</h3>
    {% for app in applications %}
        <p>Application for {{ app }} | {{ app.status}} | <a href="{% url 'postgrad_view_application' app.id %}">View</a></p>
    {% endfor %}
    <p><a href="{% url 'postgrad_new_application_part1' %}">New Application</a>
    <p><a href="{% url 'logout' %}">Logout</a></p>
{% endblock %}