{% extends 'base.html' %}

{% block title %}Application Detailed{% endblock %}

{% block content %}
    <h1>Application Overview</h1>
    {% if application.locked %}<h3>Application Locked</h3>{%  endif %}
    <p><a href="{% url 'postgrad_remove_application' application.id %}">Withdraw Application</a></p>
    <p>Application ID: {{ application.id}}</p>
    <p>Application status: {{ application.status }}</p>
    <p>Reason: {{ application.reason }}</p>
    {%  if not application.locked %}
    <p>Degree: {{ application.degree }} | <a href="{% url 'postgrad_update_application' application.id %}">Edit</a></p>
    <p>PDF: {{ application.pdf }} | <a href="{% url 'postgrad_update_application' application.id %}">Edit</a></p>
    <br>
    <h2>Your Qualification</h2>
    <p>Previous degree: {{ application.qualification.degree.type }} | <a href="{% url 'postgrad_update_qualification' application.id application.qualification.degree.country %}">Edit</a></p>
    <p>Country of previous degree: {{ application.qualification.degree.country }} | <a href="{% url 'postgrad_select_country' application.id %}">Edit</a></p>
    <p>Minimum years of previous degree: {{ application.qualification.min_years }} | <a href="{% url 'postgrad_update_qualification' application.id application.qualification.degree.country %}">Edit</a></p>
    <p>Did you complete a thesis in previous degree: {{ application.qualification.thesis }} <a href="{% url 'postgrad_update_qualification' application.id application.qualification.degree.country %}">Edit</a></p>
    {% else %}
    <p>Degree: {{ application.degree }}</p>
    <p>PDF: {{ application.pdf }}</p>
    <br>
    <h2>Your Qualification</h2>
    <p>Previous degree: {{ application.qualification.degree.type }}</p>
    <p>Country of previous degree: {{ application.qualification.degree.country }}</p>
    <p>Minimum years of previous degree: {{ application.qualification.min_years }}</p>
    <p>Did you complete a thesis in previous degree: {{ application.qualification.thesis }}</p>
    {% endif %}
    <br>
    <p><a href="{% url 'postgrad_dashboard' %}">Back</a></p>
{% endblock %}