{% extends 'base.html' %}

{% block title %}Application Detailed{% endblock %}

{% block content %}
    <h3 class="text-dark mb-4">Application Overview</h3>
    <div class="card shadow mb-3">
        {% if application.locked %}
            <div class="card-header py-3">
                <p class="text-danger m-0"><i class="fa fa-lock"></i> Application Locked</p>
            </div>
        {% endif %}
        <div class="card-body">
            <dl class="row">
                <dt class="col-4 col-xl-2">
                    <a class="btn btn-sm btn-danger"
                       href="{% url 'postgrad_remove_application' application.id %}">Withdraw Application</a>
                </dt>
                <dd class="col-8 col-xl-10"></dd>
                <dt class="col-4 col-xl-2">Application ID</dt>
                <dd class="col-8 col-xl-10">{{ application.id }}</dd>
                <dt class="col-4 col-xl-2">Application status</dt>
                <dd class="col-8  col-xl-10">{{ application.status }}</dd>
                <dt class="col-4 col-xl-2">Application evaluator</dt>
                <dd class="col-8 col-xl-10">{{ application.evaluator }}</dd>
                <dt class="col-4 col-xl-2">Reason</dt>
                <dd class="col-8 col-xl-10">{{ application.reason }}</dd>
                <dt class="col-4 col-xl-2">Degree</dt>
                <dd class="col-8 col-xl-10">{{ application.degree }} {% if not application.locked %}
                    <a href="{% url 'postgrad_update_application' application.id %}"><i class="fa fa-edit"></i>
                        Edit</a>{% endif %}</dd>
                <dt class="col-4 col-xl-2">PDF</dt>
                <dd class="col-8 col-xl-10">{{ application.pdf }} {% if not application.locked %}
                    <a href="{% url 'postgrad_update_application' application.id %}"><i class="fa fa-edit"></i>
                        Edit</a>{% endif %}</dd>
            </dl>
        </div>
    </div>

    <div class="card shadow mb-3">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Your Qualification</p>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-4 col-xl-2">Previous degree</dt>
                <dd class="col-8 col-xl-10">{{ application.qualification.degree.type }} {% if not application.locked %}
                    <a href="{% url 'postgrad_update_qualification' application.id application.qualification.degree.country %}"><i
                            class="fa fa-edit"></i>
                        Edit</a>{% endif %}</dd>
                <dt class="col-4 col-xl-2">Country of previous degree</dt>
                <dd class="col-8 col-xl-10">{{ application.qualification.degree.country }}
                    {% if not application.locked %}
                        <a href="{% url 'postgrad_select_country' application.id %}"><i class="fa fa-edit"></i>
                            Edit</a>{% endif %}</dd>
                <dt class="col-4 col-xl-2">Minimum years of previous degree</dt>
                <dd class="col-8 col-xl-10">{{ application.degree }} {% if not application.locked %}
                    <a href="{% url 'postgrad_update_qualification' application.id application.qualification.degree.country %}"><i
                            class="fa fa-edit"></i>
                        Edit</a>{% endif %}</dd>
                <dt class="col-4 col-xl-2">Did you complete a thesis in previous degree</dt>
                <dd class="col-8 col-xl-10">{% if application.qualification.thesis %}Yes{% else %}No{% endif %} {% if not application.locked %}
                    <a href="{% url 'postgrad_update_qualification' application.id application.qualification.degree.country %}"><i
                            class="fa fa-edit"></i>
                        Edit</a>{% endif %}</dd>
            </dl>
        </div>
    </div>

    <div class="p-3 bg-white border-top">
        <a href="{% url 'postgrad_dashboard' %}"><i class="fa fa-arrow-circle-left"></i> Back</a>
    </div>
{% endblock %}