{% extends 'base.html' %}

{% block title %}Application Detailed{% endblock %}

{% block content %}
    <h1>Application Overview</h1>
    <p>Application ID: {{ application.id}}</p>
    <p>Application Status: {{ application.status }}</p>
    <p>Applicant Student Number: {{ application.postgrad_profile.student_number}}</p>
    <p>{% if not application.is_accepted %}<a href="{% url 'staff_accept_application' application.id%}">Accept</a>{% endif %}
    {% if not application.is_rejected%}<a href="{% url 'staff_reject_application' application.id%}">Reject</a>{% endif %}</p>
    <p><a href="{% url 'staff_applications_dashboard' %}">Back</a></p>
{% endblock %}